body {
  background: white;
  display: flex;
  height: 100vh;
  margin: 0;
}

canvas {
  margin: auto;
  background: navy;
  width: 100vh;
  height: 100vh;
  image-rendering: pixelated;
}

@media (orientation: portrait) {
  canvas {
    width: 100vw;
    height: 100vw;
  }
}