body {
  background-image: url("https://cdn.glitch.com/f9aed2f6-b263-4ccf-a15b-15c9b3d05497%2Fpixel-heart.png?v=1622659858338");
  display: inline;
  height: 100vh;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-color: black;
}

h1 {
    text-align: center;
    font-size: 65px;
  }
p
{
  text-align: center;
  font-size: 35px;
}

canvas {
  margin-top: 30px;
  margin: auto;
  background: navy;
  width: 1440px;
  height: 810px;
  font-family: Verdana, sans-serif;
  position: relative;
}

@media (orientation: landscape) {
  canvas {
    margin: auto;
    display: block;
    width: 1440px;
    height: 810px;
  }
}

#game-images {
  display: none;
}