body {
  background: white;
  display: inline;
  height: 100vh;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-color: black;
}

canvas {
  margin-top: 30px;
  margin: auto;
  background: navy;
  width: 1440px;
  height: 810px;
  image-rendering: pixelated;
  position: relative;
}

@media (orientation: landscape) {
  canvas {
    margin: auto;
    display: block;
    width: 1440px;
    height: 810px;
  }
}

#game-images {
  display: none;
}